<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header ">
                <h1 class="text-center m-0" >{{selectedUser.id}}</h1>
            </div>
            <div class="card-body text-capitalize">
                <p class="m-0">firstName :- {{selectedUser.firstName}}</p>
                <p class="m-0">lastName :- {{selectedUser.lastName}}</p>
                <p class="m-0">DOB :- {{selectedUser.dateOfBirth}}</p>
                <p class="m-0">nativePlace :- {{selectedUser.nativePlace}}</p>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary mx-2" (click)="gotoEdit()"
                [ngClass]="{'d-none' : selectedUser.userRole === 'customer'}"
                   >edit</button>
                <button class="btn btn-danger" (click)="delete()">delete</button>
            </div>
        </div>
    </div>
</div>