.card{
    height: 380px;
    .productImg{
        height: 350px;
        width: 100%;
        object-fit: contain;
    }
    .assuredImg{
        width: 120px;
    }
    .spec {
        line-height: 30px;
        font-size: 17px;
        font-weight: 500;
        color: #686c70;
    }
}

h5{
    margin-top: 25px;
}